.file-upload {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 20px;
}

* {
  font-family: 'Gowun Dodum', sans-serif;
}

.file_select{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
}

.show_image {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#title {
    width: 80%;
    padding: 1%;
    border: 1px solid lightgray;
    border-radius: 5px;
}

#find_title {
    width: 80%;
    padding: 1%;
    border: 1px solid lightgray;
    border-radius: 5px;
}

#link {
    color: #228cf6;
    margin-top: 5%;
}
button {
    color: white;
    background-color: #146cf3;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal .bg {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

.modalBox {
    position: absolute;
    background-color: #fff;
    width: 500px;
    height: 700px;
    padding: 15px;
    border: 3px;
}

#modal_title {
    display: flex;
    justify-content: center;
}

.modalBox button {
    display: block;
    width: 80px;
}

.hidden {
    display: none;
}

#text_box{
    width: 350px;
    height: 100px;
    margin-bottom: 50px;
}

.text_box_wrap {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#imageSelector {
    border: 1px solid lightgray;
}

.file_select_button {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.upload_button {
    margin-right: 50px;
}

.thumb {
    display: flex;
}