* {margin:0; padding: 0; box-sizing: border-box;}
body {
    margin: 7.75% auto;
    justify-content: center;
    align-items: center;
    display: flex;
}

* {
  font-family: 'Gowun Dodum', sans-serif;
}

#container{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 1px lightgray;
}
#sign_up{
    background-color: white;
    width: 100%;
    height: 62.5%;
}

/*header*/
.sign_up_header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sign_up_header_email{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sign_up_header img{
    width: 48%;
    border-radius: 10%;
    padding: 25px 2%;

}
.sign_up_header .sign_up_header_text{
    color: gray;
}
.sign_up_header_under img{
    width: 10px;
    height: 10px;
    padding: 0;
    margin-right: 2px;
}
.sign_up_header_under{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    height: 30px;
    background-color: dodgerblue;
    color: white;
    border-radius: 3px;
    font-size: 50%;
    font-weight: bold;
    margin: 2% 0;
}

/*form*/
.sign_up_form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

}
.sign_up_middle_upper{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.sign_up_input{
    width: 100%;
    height: 30px;
    border-radius: 2px;
    border: solid 1px lightgray;
    font-size: 90%;
    margin: 2% 0;
}
.input_wrapper{
    width: 70%;

}

.sign_up_form_radio{
    display: flex;
    align-items: center;
    justify-content: center;
}
.sign_up_gender{
    display: flex;
    align-items: center;
    justify-content: center;
}
#submit_button_wrapper{
    display: flex;
    justify-content: center;
    background-color: white;
    align-items: center;
    width: 100%;
    margin-bottom: 3%;
}
#password_check{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.check_btn:hover{
    background-color: gray;
}
.check_btn{
    border: lightgray;
    border-radius: 3px;
    color: white;
    background-color: lightgray;
    width: 100%;
    padding: 5px;
    font-size: 12px;

}
.password_btn:hover{
    background-color: darkgrey;
    font-weight: bold;
}


.sign_up_submit{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0px;
}
.sign_up_submit #sign_up_submit_btn:hover{
    background-color: dodgerblue;
    color: white;
    font-weight: bold;

}
.sign_up_submit #sign_up_submit_btn{
    background-color: lightskyblue;
    border: none;
    font-size: 14px;

    width: 70%;
    border-radius: 3px;
    color: white;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.line-box {
    position: relative;
    margin: 12px auto 30px;
}
.line-box:before {
    content: '';
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 70%;
    height: 1px;
    background-color: rgba(219,219,219,1);}
.line-box > span {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
    padding: 0 8px;
    background-color: #fff;
    color: #bebebe;
    font-size: 14px;}


.sign_up_form_footer_info{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100%;
    width: 100%;
    height: 10%;
    padding: 15px 0;
}



.sign_up_form_footer{

    height: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px 0;
}
.sign_up_form_footer_text{
    font-size: 95%;

}
.container_footer_stores_wrapper{
    display: flex;
    justify-content: center;
    align-items: center;

}
.container_footer_stores{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
.container_footer_stores #apple{
    width: 100px;
}
.container_footer_stores #google{
    width: 100px;
}
#google_wrapper {margin-left: 10px;}
#google_wrapper > a,
#apple_wrapper > a {
    display: inline-block;
}

.sign_up_form_footer_plus p{
    color: darkgrey;
    margin-bottom: 15px;
}
.sign_up_form_footer_plus .sign_up_form_footer_plus_upper {
    text-align: center;
    font-size: 80%;

}

.sign_up_form_footer_plus .sign_up_form_footer_plus_lower{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 80%;
}

@media screen and (max-width:480px){
    #container{
    width: 100%;
}
}