body {
    width: 100%;
    margin: 0 auto;
    height: auto;
    margin-top: 50px;
}

/* ν—¤λ” */
#header {
  display: flex;
  justify-content: space-between;
  background-color: white;
  align-items: center;
  width: 100%;
  position: fixed;
  max-width: 720px;
  border-bottom: 1px solid lightgray;
}
#header .header-icon {
  margin: 3% 5%;
  width: 6%;
}
#header #logo {
  width: 27%;
}

#insta-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.container-header {
    display: flex;
    align-items: center;
    margin-top: 50px;
}

.container-header img {
    width: 20vw;
    height: 20vw;
    border-radius: 50%;
    margin-right: 30px;
}

.container-main {
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: #c4c4c4;
    margin-top: 30px;
}

.container-main-sub {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.container-main-sub p {
    margin-top: 13px;
}

.container-footer {
    margin-top: 10px;
    margin-bottom: 70px;
}

/* ν‘Έν„° */
#footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  max-width: 720px;
  border-top: 1px solid lightgray;
  background-color: white;
}
#footer #icon-wrapper {
  margin: 4% 6%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#footer #icon-wrapper img {
  width: 6%;
}


.modal-wrap {
    display: none;
    width: 500px;
    height: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -250px 0 0 -250px;
    background: #eee;
    z-index: 2;
}

.black-bg{
        display: none;
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        background-color:rgba(0, 0,0, 0.5);
        top:0;
        left: 0;
        z-index: 1;
    }
    .modal-close{
        width: 26px;
        height: 26px;
        position: absolute;
        top: -30px;
        right: 0;
    }
    .modal-close> a{
        display: block;
        width: 100%;
        height: 100%;
        background:url(https://img.icons8.com/metro/26/000000/close-window.png);
        text-indent: -9999px;
    }

.modal-follower {

}

.modal-follower  #follower-list {
    font-weight: bold;
    font-size: 24px;
    border-bottom: 1px solid #c4c4c4;
}

.modal-follower #modal-follower-text {
    font-size: 18px;
    margin-bottom: 10px;
}