<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/main.css">
    <link rel="stylesheet" href="../static/add_feed.css">
    <link href="https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>Instagram</title>
    <meta name="viewport"    content="width=device-width, initial-scale=1.0">
    <style>
        .dellink {
            display: none;
        }
    </style>
    <script type="text/javascript" src="../static/upload.js"></script>
    <script>
        var pages = 1;
        $(window).scroll(function(){
            if($(window).scrollTop() == $(document).height() - $(window).height()){  //스크롤이 존재할 때(ex)게시물이 한개라면창길이가 짧을 때) 발생함
                //alert("맨밑입니다.")
                pages += 5;
                show_post();
            }
        });
        function show_post(){
            let cur_time = String(new Date()).split(' ')[4].split(':')
            $.ajax({
                type: "POST",
                url: "/give_main_page",
                data: {'pages':pages},
                success: function(data){     //전체 게시글 정보
                    let feed_list = data['result'];
                    console.log(feed_list)

                    for (let i=0; i < feed_list.length; i++) {
                        let user_name = feed_list[i]['nickname'];
                        let feed_image = feed_list[i]['img'];
                        let like_count = feed_list[i]['like'];
                        let post_content = feed_list[i]['contents'];
                        // let comment_list = feed_list[i]['comment'];
                        // let comment_author = comment_list[i][0];
                        // let comment_content = comment_list[i][1];
                        let posting_time = feed_list['post_time']
                        let old_time = feed_image.split('-')
                        //console.log(old_time)
                            let old_time_hour = Number(old_time[4])
                            let cur_time_hour = Number(cur_time[0])
                            let old_time_min = Number(old_time[5])
                            let cur_time_min = Number(cur_time[1])
                            let old_time_sec = Number(old_time[6].split('.')[0])
                            let cur_time_sec = Number(cur_time[2])
                            if(cur_time_hour == old_time_hour){
                                if(cur_time_min == old_time_min){
                                    posting_time = String((cur_time_sec - old_time_sec)) + "초 전"
                                }else{
                                    posting_time = String((cur_time_min - old_time_min)) + "분 전"
                                }
                            }else{
                                posting_time = String((cur_time_hour - old_time_hour)) + "시간 전"
                            }
                        let temp_html = `<div class="post-container">
                                                    <div class="post-wrapper">
                                                        <div class="post-header">
                                                            <div class="left-wrapper">
                                                                <img src="https://cdn.topstarnews.net/news/photo/201811/526783_192798_1141.jpg"/>
                                                                <p>${user_name}</p>
                                                            </div>
                                                            <div class="right-wrapper">
                                                                <img src="../static/image/more@3x.png">
                                                            </div>
                                                        </div>
                                                        <div class="post-body">
                                                            <img id="post_img" src="../static/user_img/${feed_image}">
                                                            <div class="post-icons-wrapper">
                                                                <div class="left-wrapper" >
                                                                    <img id="like_img" onclick="temp_like_up_down()" class="post-icon" src="../static/image/like.png">
                                                                    <img class="post-icon-2" src="../static/image/comment@3x.png">
                                                                    <img class="post-icon" src="../static/image/dm@3x.png">
                                                                </div>
                                                                <div class="right-wrapper">
                                                                    <img src="../static/image/favorite@3x.png">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="post-footer">
                                                            <div class="post-like-wrapper">
                                                                <img src="https://cdn.topstarnews.net/news/photo/201811/526783_192798_1141.jpg">
                                                                <p><strong>${user_name}</strong>님 <span id="like_cnt" style="font-weight: bold;">${like_count}</span>명이 좋아합니다</p>
                                                            </div>
                                                            <div class="post-content-wrapper">
                                                                <p class="post-author">${user_name}</p>
                                                                <p class="post-content">${post_content}</p>
                                                            </div>
                                                            <div>
                                                                // <p class="comment-person"></p>
                                                                // <p class="comment-content"></p>
                                                            </div>
                                                            <div id="posting-time">
                                                                <p class="post-time">${posting_time}</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>`
                        $('#container2').append(temp_html);

                    }
                }
            })
        }
        show_post();

        function posting() {
            let file = $('#imageSelector')[0].files[0];
            let text = $('#text_box').val();
            let form_data = new FormData();
            let cur_time = new Date();

            form_data.append("text_give", text);
            form_data.append("file_give", file);
            form_data.append("post_time", String(cur_time));

            $.ajax({
                type: "POST",
                url: "/fileupload",
                data: form_data,
                cache: false,
                contentType: false,
                processData: false,
                success: function (response) {
                    alert(response["result"])
                    window.location.reload()
                },
                error: function (error) {
                  console.log(error)
                }
            });
        }

        function find_img() {
            let title = $('#find_title').val()
            document.getElementById('link').href = '/fileshow/' + title
        }

        function numberWithCommas(x) {
            return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
        }

        function temp_like_up_down(){
            let plus_like_cnt = numberWithCommas(Number($('#like_cnt').text().split(',').join("")) + 1)
            let minus_like_cnt = numberWithCommas(Number($('#like_cnt').text().split(',').join("")) - 1)
            let img_name = $('#post_img').attr('src').split('/')[3]
            let temp_html =``
            if ($('#like_img').attr('src').split('/')[3] == "like.png"){
                $('#like_img').attr('src', "../static/image/like2.png")
                temp_html =`${plus_like_cnt}`
                $('#like_cnt').empty()
                $('#like_cnt').append(temp_html)
                // $.ajax({
                //     type: 'POST',
                //     url: '/push_like',
                //     data: { img_name:img_name},
                //     success: function (response) {
                //     }
                // });
            }else{
                $('#like_img').attr('src', "../static/image/like.png")
                temp_html =`${minus_like_cnt}`
                $('#like_cnt').empty()
                $('#like_cnt').append(temp_html)
                // $.ajax({
                //     type: 'POST',
                //     url: '/push_like',
                //     data: { img_name:img_name},
                //     success: function (response) {
                //     }
                // });
            }
        }


    </script>
</head>
<body>
    <div id="main">
        <div id="header">
            <img class="header-icon" src="../static/image/camera@3x.png" />
            <img onclick="javascript:window.scrollTo(0,0)" id="logo" src="../static/image/bangstagram.png"/>
            <img class="header-icon" src="../static/image/dm@3x.png" />
        </div>
        <div id="container">
            <div class="post-container">
                <div class="post-wrapper">
                    <div class="post-header">
                        <div class="left-wrapper">
                            <img src="https://cdn.topstarnews.net/news/photo/201811/526783_192798_1141.jpg"/>
                            <div>
                                <p>0~0</p>
                            </div>
                        </div>
                        <div class="right-wrapper">
                            <img src="../static/image/more@3x.png">
                        </div>
                    </div>
                    <div class="post-body">
                        <div>
                            <img id="post_img" src="../static/image/temp_img.jpeg">
                        </div>
                        <div class="post-icons-wrapper">
                            <div class="left-wrapper" >
                                <img id="like_img" onclick="temp_like_up_down()" class="post-icon" src="../static/image/like.png">
                                <img class="post-icon-2" src="../static/image/comment@3x.png">
                                <img class="post-icon" src="../static/image/dm@3x.png">
                            </div>
                            <div class="right-wrapper">
                                <img src="../static/image/favorite@3x.png">
                            </div>
                        </div>
                    </div>
                    <div class="post-footer">
                        <div class="post-like-wrapper">
                            <img src="https://cdn.topstarnews.net/news/photo/201811/526783_192798_1141.jpg">
                            <p><strong>이용자</strong>님 <span id="like_cnt" style="font-weight: bold;">7,585</span>명이 좋아합니다</p>
                        </div>
                        <div class="post-content-wrapper">
                            <p class="post-author">0~0</p>
                            <p class="post-content">test입니다</p>
                        </div>
                        <div>
                            <p class="comment-person">stranger</p>
                            <p class="comment-content">댓글입니다.</p>
                        </div>
                        <div>
                            <p class="post-time">8시간전</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>

<!--    ############ 임시로 위에 예시문과 콜 받는 부분을 나눠놨습니다 ############    -->
        <div id="container2">

        </div>
        <div id="footer">
            <div id="icon-wrapper">
                <img src="../static/image/home.png" onclick="window.location=window.location.pathname;"
                     onmouseover="this.src='../static/image/home2.png'"
                     onmouseout="this.src='../static/image/home.png'">

                <img src="../static/image/search.png"
                     onmouseover="this.src='../static/image/search2.png'"
                     onmouseout="this.src='../static/image/search.png'">

                <image type="button" src="../static/image/add_feed.png"
                   onmouseover="this.src='../static/image/add_feed2.png'"
                   onmouseout="this.src='../static/image/add_feed.png'" class="openBtn"/>
<!--미리보기 추가-->
                    <div class="modal hidden">
                        <div class="bg"></div>
                        <div class="modalBox">
                            <h1 id="modal_title">피드 추가</h1>
                            <div class="container">
                                <img src="" class="thumb" style="margin: auto;width: 340px">
                                <div class="file_select">
                                    <input type="file" class="hidden_input" id="imageSelector" name="imageSelector"
                                           accept="image/jpeg, image/jpg, image/png" multiple/>
                                </div>
                                <div class="text_box_wrap">
                                    <input type="text" name="title" id="text_box">
                                </div>
                                <div class="file_select_button">
                                    <button class="upload_button" onclick="posting()">업로드</button>
                                    <button class="closeBtn">✖</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <script>
                    const open = () => {
                        document.querySelector(".modal").classList.remove("hidden");
                    }

                    const close = () => {
                        document.querySelector(".modal").classList.add("hidden");
                    }

                    document.querySelector(".openBtn").addEventListener("click", open);
                    document.querySelector(".closeBtn").addEventListener("click", close);
                    document.querySelector(".bg").addEventListener("click", close);

                    </script>


                    <img src="../static/image/like.png"
                         onmouseover="this.src='../static/image/like2.png'"
                         onmouseout="this.src='../static/image/like.png'">

                    <img src="../static/image/user.png" onclick="location.href='/user'"
                         onmouseover="this.src='../static/image/user2.png'"
                         onmouseout="this.src='../static/image/user.png'">
            </div>
        </div>
    </div>
</body>
</html>