<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Instagram</title>
    <link rel="stylesheet" href="../static/sign_up.css">
    <link href="https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="../static/sha256.js"></script>
    <script>
        function submit_sign_up() {
            let pwd = $('#password').val();
            let pwd_check = $('#password2').val();
            let temp_html =``;

            let email = $('#text').val()
            let hash_pwd = SHA256($('#password').val())
            let name = $('#name').val()
            let nickname = $('#nickname').val()
            let gender = $('#gender').val()


            if (email == '') {
                alert("이메일을 작성 해주세요.")
                return false
            }else if(!email_check(email)){
                alert("이메일을 확인해주세요.")
                return false
            }else if(email_check(email)){
                $.ajax({
                type: 'POST',
                url: '/sign_up/check_dup',
                data: {'username_give':email},
                success: function (response){
                    if(response['result']=='success') {
                        alert("이메일 중복확인을 해주세요.");
                        return false
                    }
                }
                })
            }
            else if (name == '') {
                alert("성명을 작성해주세요.")
                return false
            } else if (nickname == ''){
                alert("사용자 이름을 작성해주세요.")
            return false
            }

            if(!is_password(pwd)){
                alert("올바른 비밀번호 형식을 입력하세요")
                temp_html=` <div class="input_wrapper">
                                <input class="sign_up_input" type="password" id="password" placeholder="  비밀번호  영문, 숫자, 특수문자를 포함하세요(8~20자)" required>
                            </div>
                            <div class="input_wrapper">
                                <div id="password_check2">
                                    <input class="sign_up_input" type="password" id="password2" placeholder="  비밀번호 확인" required>
                                </div>
                            </div>
                `;
                $('#password_check').empty();
                $('#password_check').append(temp_html);
                return false

            }else if(pwd != pwd_check){
                alert("비밀번호가 일치하지 않습니다.");
                    temp_html=` <input class="sign_up_input" type="password" id="password2" placeholder="  비밀번호 확인" required>
                                <button class="check_btn" onclick="check_pwd()">확인하기</button>
                `;
                $('#password_check2').empty();
                $('#password_check2').append(temp_html);
                return false
            }


            else{
                $.ajax({
                type: "POST",
                url: "/sign_up/save",
                data: {email_give:email,
                        password_give:hash_pwd,
                        name_give:name,
                        username_give:nickname,
                        gender_give:gender
                },
                success: function (response) {
                    if(response["result"] == 'fail'){
                        console.log('failed');
                    }
                    else{
                        alert(response["result"]);
                    }
                }
            });
            }


        }
        function is_password(asValue) {
            var regExp = /^(?=.*\d)(?=.*[a-zA-Z])[0-9a-zA-Z!@#$%^&*]{8,20}$/;
            return regExp.test(asValue);
        }
        function email_check(email) {
            var reg = /^[0-9a-zA-Z]([-_\.]?[0-9a-zA-Z])*@[0-9a-zA-Z]([-_\.]?[0-9a-zA-Z])*\.[a-zA-Z]{2,3}$/i;
            return reg.test(email);
        }
        function check_id(){
            let email = $('#text').val()
            $.ajax({
                type: 'POST',
                url: '/sign_up/check_dup',
                data: {'username_give':email},
                success: function (response) {
                    if (email ==""){
                        alert("email을 입력해주세요")
                        return false
                    }else{
                        if (!email_check(email)){
                            alert("이메일 형식에 맞춰 입력해주세요");
                        }
                        else if(response['result']=='success') {
                            alert("이미 존재하는 이메일 입니다.");
                        }
                        else{
                            alert("사용가능한 이메일 입니다.");
                        }
                    }

                }
            });
        }
        function goto_login(){
            window.location.href='/login';
        }
    </script>
    <script src="../static/main.js"></script>

</head>
<body>
<div id="container">
    <div id="sign_up">
        <div class="sign_up_header">
            <img src="../static/image/insta-logo.png">
            <h4 class="sign_up_header_text">친구들의 사진과 동영상을 보려면 가입하세요.</h4>

            <div class="sign_up_header_under">
                <img src="/bangstagram/static/image/facebook-logo-icon-.jpeg" >
                <span>Facebook으로 로그인 하지마세요^^</span>
            </div>
        </div>
<div class="line-box"><span>또는</span></div>
        <div class="sign_up_middle_upper">

            <div class="sign_up_form">
                <div class="sign_up_header_email">
                    <div class="input_wrapper">
                        <input class="sign_up_input" type="text" id="text" placeholder="   이메일 주소" required>
                        <button class="check_btn" onclick="check_id()">중복확인</button>
                    </div>
                </div>

                <div class="input_wrapper">
                    <select id="gender" class="sign_up_input" name ="gender">
                        <option disabled selected>성별을 선택하세요</option>
                        <option value="male"> 남성</option>
                        <option value="female"> 여성</option>
                        <option value="none"> 선택하지않음</option>
                    </select>
                </div>
                <div class="input_wrapper">
                    <input class="sign_up_input" type="text" id="name" placeholder="  성명">
                </div>

                <div class="input_wrapper">
                    <input class="sign_up_input" type="text" id="nickname" placeholder="  사용자 이름">
                </div>

                <div id="password_check">
                    <div class="input_wrapper">
                        <input class="sign_up_input" type="password" id="password" placeholder="  비밀번호  영문, 숫자, 특수문자를 포함하세요(8~20자)" required>
                    </div>
                    <div class="input_wrapper">
                        <div id="password_check2">
                            <input class="sign_up_input" type="password" id="password2" placeholder="  비밀번호 확인" required>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="sign_up_middle_lower">
            <div class="sign_up_submit">
                <button id="sign_up_submit_btn" onclick="submit_sign_up()" >가입</button>
            </div>
        </div>


        <div class="sign_up_form_footer_info">
            <div class="sign_up_form_footer_text_wrapper">
                <span class="sign_up_form_footer_text">계정이 있으신가요?</span> <a onclick="goto_login()" style="color:#0095f6;">로그인</a>
            </div>
        </div>
        <div class="sign_up_form_footer">
            <div>
                <span class="sign_up_form_footer_text">앱을 다운로드 하세요</span>
            </div>
            <div class="container_footer_stores_wrapper">
                <div class="container_footer_stores">
                    <div id="apple_wrapper">
                        <a href="https://itunes.apple.com/app/instagram/id389801252?pt=428156&ct=igweb.signupPage.badge&mt=8&vt=lo">
                           <img id="apple" src="../static/image/appstore.png">
                        </a>
                    </div>
                    <div id="google_wrapper">
                        <a href="https://play.google.com/store/apps/details?id=com.instagram.android&referrer=utm_source%3Dinstagramweb%26utm_campaign%3DsignupPage%26ig_mid%3D77FFAF73-A36F-466B-84E4-2C6232EBE8D1%26utm_content%3Dlo%26utm_medium%3Dbadge">
                            <img id="google" src="../static/image/playstoer.png">
                        </a>
                    </div>

                </div>
            </div>
        </div>



        <div class="sign_up_form_footer_plus">

            <div class="sign_up_form_footer_plus_lower">
                <p>copyright 아이디어뱅크 11번창구</p>
            </div>
        </div>
    </div>

</div>

</body>
</html>