<!-- 개인 페이지 -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Page</title>
    <link rel="stylesheet" type="text/css" href = "/static/user.css">
</head>
<body>
    <div id="wrapper">
        <div class="status-bar">
            <img class="status-bar-icon" src="/static/image/home@3x.png" alt="">
            <img id="logo" src="/static/image/insta-logo.png" alt="">
            <img class="status-bar-icon" src="/static/image/dm@3x.png" alt="">
        </div>
    </div>
</body>
</html>