<!-- 개인 페이지 -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Page</title>
    <link rel="stylesheet" type="text/css" href = "/static/user.css">
</head>
<body>
    <div id="insta-wrapper">
        <div class="insta-status-bar">
            <div class="insta-status-bar__img">
                <img src="/static/image/home@3x.png" />
            </div>
            <div class="insta-status-bar__img">
                <img src="/static/image/insta-logo.png" style="height:40px;"/>
            </div>
            <div class="insta-status-bar__img">
                <img src="/static/image/dm@3x.png" />
            </div>
        </div>



        <div class="insta-nav">
            <div class="insta-nav__img">
                <img src="/static/image/home@3x.png"/>
            </div>
            <div class="insta-nav__img">
                <img src="/static/image/search@3x.png"/>
            </div>
            <div class="insta-nav__img">
                <img src="/static/image/trending@3x.png"/>
            </div>
            <div class="insta-nav__img">
                <img src="/static/image/like@3x.png"/>
            </div>
            <div class="insta-nav__img">
                <img src="/static/image/home@3x.png"/>
            </div>
        </div>
    </div>
</body>
</html>